[submodule "vendor/picohttpparser"]
	path = vendor/picohttpparser
	url = https://github.com/h2o/picohttpparser.git
[submodule "picohttpparser"]
	path = src/picohttpparser/picohttpparser
	url = https://github.com/h2o/picohttpparser
